@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f293b;
  border-radius: 100vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0f172a;
  border-radius: 100vh;
  border: 1px solid #1f293b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

.coin-marquee-wrapper--dark {
  border-top: unset !important;
  border-bottom: unset !important;
}

.test-button {
  background: linear-gradient(90deg, rgb(234, 0, 112), rgb(252, 84, 179));
}

.has-text-danger {
  color: var(--text-color-error) !important;
}

/* Animation for price deltas */
.vote-total-increase {
  color: #16c784;
  scale: 2;
}

.vote-total-decrease {
  color: #ea3943;
  scale: 2;
}

.vote-total-increase {
  animation: voteIncrease 5s linear forwards;
  transform: scale(2, 2);
}

.vote-total-decrease {
  animation: voteDecrease 5s linear forwards;
  transform: scale(2, 2);
}

@keyframes voteIncrease {
  0% {
    color: #18d00c;
  }
  50% {
    transform: scale(2, 2);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes voteDecrease {
  0% {
    color: #cc111a;
  }
  50% {
    transform: scale(2, 2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.toast-notif {
  background-color: #dadada;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.hover-transition {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.5, 1);
}

.hover-transition:hover {
  transform: scale(1.12);
  opacity: 0.95;
}

.shadow-white {
  box-shadow: rgb(128 138 157 / 50%) 0px 1px 2px,
    rgb(128 138 157 / 40%) 0px 8px 32px;
}

.plyr--video {
  border-radius: 10px;
  background: transparent !important;
}

.text-shadow {
  text-shadow: rgba(255, 255, 255, 0.5) 0px 0px 0.6rem;
}
